doctype html
html(lang="en")
  head
    title="test pug index"
    link( rel="stylesheet" type="text/css" href="css/style.css")
    script(src="js/main.js" asysn)
  body
    main.container
      h1.title Pug - a test page with Pug
      // this comment will be generated1
      //- this is a comment
      img(src="img/2byte.png" width="30%")
      p Hello World!